In [22]:
import pandas as pd
import numpy as np
from datetime import datetime

today = ''.join(str(datetime.date(datetime.today())).split('-'))
with open (f'log_dummy/20220809', encoding='UTF8') as f:
    records = [line.rstrip().split(' ') for line in f]
columns = ['date', 'time', 'building', 'building_pk', 'floor', 'floor_pk','token', 'trash_type', 'rfid', 'amount']
df = pd.DataFrame(records, columns=columns)

In [23]:
df['hour'] = df.time.str[:2]

In [24]:
df['year'] = df.date.str[:4]

In [25]:
df['month'] = df.date.str[4:6]

In [26]:
df.date = df.date.str[6:]

In [28]:
right_data = df.drop_duplicates(subset=['token'])

In [29]:
left_data = df.groupby(['token', 'hour']).date.count().unstack(fill_value=0)

In [30]:
left_data.reset_index(inplace=True)

In [31]:
labels = ['token', 'hour_00','hour_01','hour_02','hour_03','hour_04','hour_05','hour_06','hour_07','hour_08','hour_09','hour_10','hour_11','hour_12','hour_13','hour_14','hour_15','hour_16','hour_17','hour_18','hour_19','hour_20','hour_21','hour_22','hour_23']

In [32]:
left_data.columns = labels

In [33]:
left_data['total'] = left_data.sum(numeric_only=True, axis=1)

In [34]:
new_df = left_data.merge(right_data, on='token')

In [38]:
new_df

,token,hour_00,hour_01,hour_02,hour_03,hour_04,hour_05,hour_06,hour_07,hour_08,...,building,building_pk,floor,floor_pk,trash_type,rfid,amount,hour,year,month
0,11CAN13,0,1,1,0,0,0,3,0,1,...,공학관,1,1,3,PET,0000000538,0.17913887300880227,13,2022,08
1,11GER11,1,1,1,0,0,0,1,0,2,...,공학관,1,1,3,CAN,0000000747,0.3089887009898854,15,2022,08
2,11GLA14,1,2,0,1,0,1,1,2,2,...,공학관,1,1,3,PET,0000000865,0.321999250538304,00,2022,08
3,11PET12,2,1,1,1,2,1,0,0,1,...,공학관,1,1,3,PET,0000000339,0.6933798687498762,01,2022,08
4,11PPR15,1,0,0,0,0,0,1,0,1,...,공학관,1,1,3,CAN,0000000264,0.6128823478019312,23,2022,08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,5B2CAN128,0,1,0,1,1,0,0,1,0,...,중앙도서관,5,B2,26,GLA,0000000921,0.18613478486544877,10,2022,08
146,5B2GER126,1,0,0,0,2,1,1,0,1,...,중앙도서관,5,B2,26,CAN,0000000083,0.5199960241173804,22,2022,08
147,5B2GLA129,1,1,0,0,1,1,2,1,0,...,중앙도서관,5,B2,26,PPR,0000000712,0.8724343019383939,12,2022,08
148,5B2PET127,2,0,1,0,1,3,0,0,1,...,중앙도서관,5,B2,26,GLA,0000000721,0.7769165223631259,02,2022,08
149,5B2PPR130,1,0,0,0,1,1,1,1,2,...,중앙도서관,5,B2,26,GLA,0000000038,0.5026125602311324,18,2022,08

In [39]:
trashbin = new_df.copy()
trashbin.drop(columns=['time', 'building', 'floor', 'rfid', 'amount', 'hour'], inplace=True)

In [40]:
trashbin

,token,hour_00,hour_01,hour_02,hour_03,hour_04,hour_05,hour_06,hour_07,hour_08,...,hour_21,hour_22,hour_23,total,date,building_pk,floor_pk,trash_type,year,month
0,11CAN13,0,1,1,0,0,0,3,0,1,...,1,1,2,20,09,1,3,PET,2022,08
1,11GER11,1,1,1,0,0,0,1,0,2,...,3,2,1,19,09,1,3,CAN,2022,08
2,11GLA14,1,2,0,1,0,1,1,2,2,...,0,1,0,17,09,1,3,PET,2022,08
3,11PET12,2,1,1,1,2,1,0,0,1,...,0,0,1,22,09,1,3,PET,2022,08
4,11PPR15,1,0,0,0,0,0,1,0,1,...,0,0,1,18,09,1,3,CAN,2022,08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,5B2CAN128,0,1,0,1,1,0,0,1,0,...,0,0,2,14,09,5,26,GLA,2022,08
146,5B2GER126,1,0,0,0,2,1,1,0,1,...,2,1,1,21,09,5,26,CAN,2022,08
147,5B2GLA129,1,1,0,0,1,1,2,1,0,...,2,0,1,25,09,5,26,PPR,2022,08
148,5B2PET127,2,0,1,0,1,3,0,0,1,...,0,0,0,21,09,5,26,GLA,2022,08
149,5B2PPR130,1,0,0,0,1,1,1,1,2,...,2,0,1,21,09,5,26,GLA,2022,08

In [59]:
building = new_df.groupby(['year','month','date','building_pk']).sum().reset_index()

In [60]:
building

,year,month,date,building_pk,hour_00,hour_01,hour_02,hour_03,hour_04,hour_05,...,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23,total
0,2022,08,09,1,28,27,31,32,19,29,...,18,32,24,21,21,24,24,23,24,602
1,2022,08,09,2,22,31,26,24,19,23,...,25,21,23,23,13,28,24,22,31,547
2,2022,08,09,3,22,27,21,20,30,23,...,21,38,26,19,24,32,24,32,25,611
3,2022,08,09,4,30,24,30,27,32,27,...,24,32,26,24,27,30,22,22,27,642
4,2022,08,09,5,25,21,19,14,25,23,...,27,26,22,29,19,27,33,17,33,598

In [65]:
building=building.astype({'building_pk':'int'})

In [66]:
building.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year         5 non-null      object
 1   month        5 non-null      object
 2   date         5 non-null      object
 3   building_pk  5 non-null      int32
 4   hour_00      5 non-null      int64
 5   hour_01      5 non-null      int64
 6   hour_02      5 non-null      int64
 7   hour_03      5 non-null      int64
 8   hour_04      5 non-null      int64
 9   hour_05      5 non-null      int64
 10  hour_06      5 non-null      int64
 11  hour_07      5 non-null      int64
 12  hour_08      5 non-null      int64
 13  hour_09      5 non-null      int64
 14  hour_10      5 non-null      int64
 15  hour_11      5 non-null      int64
 16  hour_12      5 non-null      int64
 17  hour_13      5 non-null      int64
 18  hour_14      5 non-null      int64
 19  hour_15      5 non-null      int64
 20  hour_16      5 non-null      int64
 21  hour_17      5 non-null      int64
 22  hour_18      5 non-null      int64
 23  hour_19      5 non-null      int64
 24  hour_20      5 non-null      int64
 25  hour_21      5 non-null      int64
 26  hour_22      5 non-null      int64
 27  hour_23      5 non-null      int64
 28  total        5 non-null      int64
dtypes: int32(1), int64(25), object(3)
memory usage: 1.2+ KB

In [68]:
floor = new_df.groupby(['year','month','date','building_pk', 'floor_pk']).sum().reset_index()

In [71]:
floor = floor.astype({'building_pk': 'int', 'floor_pk':'int'})

In [75]:
building

,year,month,date,building_pk,hour_00,hour_01,hour_02,hour_03,hour_04,hour_05,...,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23,total,num
0,2022,08,09,1,28,27,31,32,19,29,...,32,24,21,21,24,24,23,24,602,09
1,2022,08,09,2,22,31,26,24,19,23,...,21,23,23,13,28,24,22,31,547,09
2,2022,08,09,3,22,27,21,20,30,23,...,38,26,19,24,32,24,32,25,611,09
3,2022,08,09,4,30,24,30,27,32,27,...,32,26,24,27,30,22,22,27,642,09
4,2022,08,09,5,25,21,19,14,25,23,...,26,22,29,19,27,33,17,33,598,09

In [76]:
building.to_dict(orient='records')

[{'year': '2022',
  'month': '08',
  'date': '09',
  'building_pk': 1,
  'hour_00': 28,
  'hour_01': 27,
  'hour_02': 31,
  'hour_03': 32,
  'hour_04': 19,
  'hour_05': 29,
  'hour_06': 31,
  'hour_07': 21,
  'hour_08': 26,
  'hour_09': 25,
  'hour_10': 16,
  'hour_11': 21,
  'hour_12': 30,
  'hour_13': 30,
  'hour_14': 25,
  'hour_15': 18,
  'hour_16': 32,
  'hour_17': 24,
  'hour_18': 21,
  'hour_19': 21,
  'hour_20': 24,
  'hour_21': 24,
  'hour_22': 23,
  'hour_23': 24,
  'total': 602,
  'num': '09'},
 {'year': '2022',
  'month': '08',
  'date': '09',
  'building_pk': 2,
  'hour_00': 22,
  'hour_01': 31,
  'hour_02': 26,
  'hour_03': 24,
  'hour_04': 19,
  'hour_05': 23,
  'hour_06': 25,
  'hour_07': 17,
  'hour_08': 12,
  'hour_09': 24,
  'hour_10': 23,
  'hour_11': 22,
  'hour_12': 22,
  'hour_13': 22,
  'hour_14': 25,
  'hour_15': 25,
  'hour_16': 21,
  'hour_17': 23,
  'hour_18': 23,
  'hour_19': 13,
  'hour_20': 28,
  'hour_21': 24,
  'hour_22': 22,
  'hour_23': 31,
  'total': 547,
  'num': '09'},
 {'year': '2022',
  'month': '08',
  'date': '09',
  'building_pk': 3,
  'hour_00': 22,
  'hour_01': 27,
  'hour_02': 21,
  'hour_03': 20,
  'hour_04': 30,
  'hour_05': 23,
  'hour_06': 28,
  'hour_07': 29,
  'hour_08': 29,
  'hour_09': 24,
  'hour_10': 28,
  'hour_11': 21,
  'hour_12': 19,
  'hour_13': 21,
  'hour_14': 28,
  'hour_15': 21,
  'hour_16': 38,
  'hour_17': 26,
  'hour_18': 19,
  'hour_19': 24,
  'hour_20': 32,
  'hour_21': 24,
  'hour_22': 32,
  'hour_23': 25,
  'total': 611,
  'num': '09'},
 {'year': '2022',
  'month': '08',
  'date': '09',
  'building_pk': 4,
  'hour_00': 30,
  'hour_01': 24,
  'hour_02': 30,
  'hour_03': 27,
  'hour_04': 32,
  'hour_05': 27,
  'hour_06': 25,
  'hour_07': 30,
  'hour_08': 24,
  'hour_09': 34,
  'hour_10': 21,
  'hour_11': 28,
  'hour_12': 27,
  'hour_13': 25,
  'hour_14': 24,
  'hour_15': 24,
  'hour_16': 32,
  'hour_17': 26,
  'hour_18': 24,
  'hour_19': 27,
  'hour_20': 30,
  'hour_21': 22,
  'hour_22': 22,
  'hour_23': 27,
  'total': 642,
  'num': '09'},
 {'year': '2022',
  'month': '08',
  'date': '09',
  'building_pk': 5,
  'hour_00': 25,
  'hour_01': 21,
  'hour_02': 19,
  'hour_03': 14,
  'hour_04': 25,
  'hour_05': 23,
  'hour_06': 30,
  'hour_07': 25,
  'hour_08': 23,
  'hour_09': 34,
  'hour_10': 33,
  'hour_11': 25,
  'hour_12': 21,
  'hour_13': 20,
  'hour_14': 27,
  'hour_15': 27,
  'hour_16': 26,
  'hour_17': 22,
  'hour_18': 29,
  'hour_19': 19,
  'hour_20': 27,
  'hour_21': 33,
  'hour_22': 17,
  'hour_23': 33,
  'total': 598,
  'num': '09'}]

In [77]:
import matplotlib.pyplot as plt

In [86]:
trashbin.plot(kind='pie')
plt.show()

ValueError: pie requires either y column or 'subplots=True'